/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	background:#fff;
	font-family: 'Lato-Regular';
	text-decoration: none;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
@font-face {
    font-family: 'Lora-Regular';
    src:url(../fonts/Lora-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Muli-Regular';
    src:url(../fonts/Muli-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato-Regular';
    src:url(../fonts/Lato-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'BreeSerif-Regular';
    src:url(../fonts/BreeSerif-Regular.ttf) format('truetype');
}
/*--starts-logo--*/


#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #3498db;

	-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

	z-index: 100001;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;

	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;

	-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #222222;
	z-index: 100000;
	-webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(0);  /* IE 9 */
	transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded */
.spn_hol {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 50000;
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.spinner {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 50%;
    margin-left: -35px;
    height: 24px;
    width: 70px;
    text-align: center;
    display: block;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;


    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.logo {
    text-align: center;
    padding: 25px 0 20px 0px;
    border-bottom: 1px solid #DEDEDE;
}
.logo a h1 {
    font-size: 32px;
    color: #000000;
    margin: 0;
    font-family: 'Lora-Regular';
    text-transform: uppercase;
	display: inline-block;
}
.logo a:hover{
	text-decoration:none;
}
/*--end-logo--*/
/*--starts-top-header--*/
.top-header {
	background: linear-gradient(135deg, #0e0e1f,#e8514a);
	vertical-align: middle;
    padding: 30px 0px;
}

#index-page h2{
    text-transform: uppercase;
    position: relative;
    padding: 50px 0 80px;
    text-align: center;
    font: 30px/1 'Proxima Nova Regular',sans-serif;
}

#index-page h2:before {
    content: '';
    position: absolute;
    width: 48px;
    height: 3px;
    left: 50%;
    margin-left: -24px;
    top: 105px;
    background: #292929;
}

#about-us {
	background: #fff;
	position: relative;
	z-index: 50;
}
#about-us .cell {
	height: 340px;
	width: 50%;
	float: left;
	display: table;
	position: relative;
	z-index: 4;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	text-decoration: none;
}

about-us .cell .item {
	padding: 0 0 0 70px;
	height: 340px;
	width: 100%;
	z-index: 10;
}

#about-us .cell .item, #recommend-list .wr-item .cell-item {
	display: table-cell;
	position: relative;
	vertical-align: middle;
}

#about-us .cell h3 {
	font: 36px/1 'Proxima Nova Light',sans-serif;
	color: #333;
	margin: 0 0 30px;
	text-decoration: none;
}

#about-us .cell p {
	font: 15px/20px 'Proxima Nova Regular',sans-serif;
	color: #838383;
	width: 370px;
	height: 0;
	overflow: hidden;
	margin: 0 0 30px;
	transition: all .25s;
	text-decoration: none;
}

.more-link {
	font: 15px/1 'Proxima Nova Regular',sans-serif;
	color: #e8514a;
	background: url(http://ceresit.ua/assets/fae8c61a/css/../img/more.png) 100% 50% no-repeat;
	padding: 0 13px 0 0;
	transition: all .25s;
}

.non-pro{
	display: block;
	margin: 0 auto;
}

.information{
	margin-top: 30px;
	padding-top: 30px;
	background-color: #202022;
}

.logo {
	display: block;
	background: url(../images/logo.png) 50% 45% no-repeat;
	height: 90px;
	width: 245px;
	margin: 0 60px 0 0;
}

.logo2 {
	display: block;
	background: url(../images/logo_black.png) 50% 45% no-repeat;
	height: 70px;
	width: 245px;
	margin: 0 0px 0 0;
}
.mt{
	margin-top: 25px;
}

#phone-line span {
	display: block;
	font: 24px/1 'Proxima Nova Light',sans-serif;
}

#phone-line {
	padding: 25px 35px;
	height: 90px;
	background: url(http://ceresit.ua/assets/fae8c61a/css/../img/phone.png) 0 50% no-repeat;
	color: #fff;
	font: 13px/20px 'Proxima Nova Regular',sans-serif;
}

.left {
	float: left;
}

#phone-line span {
	display: block;
	font: 24px/1 'Proxima Nova Light',sans-serif;
}

.search-bar input[type="text"] {
	width: 100%;
	padding: 8px 45px 8px 8px;
	border: 1px solid #F5F5F5;
	background: none;
	outline: none;
	-webkit-appearance: none;
	color: rgba(0, 0, 0, 0.74);
	font-size: 0.875em;
	font-family: 'Lato', sans-serif;
	position: relative;
}
.search-bar input[type="submit"] {
    background: url(../images/search.png)no-repeat 0px 0px;
    outline: none;
    -webkit-appearance: none;
    border: 0;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 9px;
    right: 10%;
}
.search-bar {
    width: 93%;
    float: right;
}
/*----*/
.itemContainer{
			width:100%;
			float:left;
		}

		.itemContainer div{
			float:left;
			margin: 5px 20px 5px 20px ;
		}

		.itemContainer a{
			text-decoration:none;
		}

		.cartHeaders{
			width:100%;
			float:left;
		}

		.cartHeaders div{
			float:left;
			margin: 5px 20px 5px 20px ;
		}
.item_add {
	color: #fff;
	border:none;
}	
.grid_1 img{
	margin-bottom:1em;
}
.box_1 {
	float: right;
}
.box_1 h3 {
	color: #702428 !important;
	font-size: 1em;
	font-weight: 700;
	margin: 0;
}
.drop {
    margin-top: 10px;
	padding: 25px 35px;
}
a.simpleCart_empty {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Lato', sans-serif;
    font-size: 11px;
}
span.simpleCart_total {
    font-size: 13px;
}
.box_1 p {
	margin: 0px 0 0px 8px;
}	
.total {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}
.cart box_1 a:hover{
	text-decoration:none;
}
.box_1 a img {
	margin: 3px 0 0 10px;
}
/*----*/
.box {
    float: left;
    width: 11%;
    margin-right: 10%;
}
.box1{
	float:left;
	width:20.5%;
}
.cssmenu ul{
	float:right;
	padding:0;
	margin:0;
	list-style:none;
}
.cssmenu ul li {
	display: inline-block;
}
.cssmenu ul li a {
	color:#fff;
	display: block;
	margin:10px;
	font-size: 0.8125em;
}
.cssmenu li> a:hover {
	color: #e8514a;
	text-decoration:none;
}
/* PREFIXED CSS */
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after,
.dropdown .carat,
.dropdown .carat:after,
.dropdown .selected::after,
.dropdown:after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.dropdown .selected::after,
.dropdown .scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}
/* WRAPPER */
.dropdown{
	position: relative;
	width:75px;
	cursor: pointer;
	font-weight: 200;
	background: none;
	padding: 0;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.dropdown.open{
	z-index: 2;
}
.dropdown:hover,
.dropdown.focus{
	/*--background:#F7F7F7;--*/
}
/* CARAT */
.dropdown .carat,
.dropdown .carat:after{
	position: absolute;
	right:0px;
	top: 50%;
	margin-top:0px;
	border: 4px solid transparent;
	border-top: 4px solid #fff;
	z-index: 1;
	-webkit-transform-origin: 50% 20%;
	-moz-transform-origin: 50% 20%;
	-ms-transform-origin: 50% 20%;
	transform-origin: 50% 20%;
}
.dropdown:hover .carat:after{
	border-top-color: #e8514a;
}
.dropdown.focus .carat{
	border-top-color: #e8514a;
}
.dropdown.focus .carat:after{
	border-top-color: #e8514a;
}
.dropdown.open .carat{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
/* OLD SELECT (HIDDEN) */
.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.dropdown.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.dropdown .selected, .dropdown li {
    color: #000;
}
.dropdown .selected, .dropdown li {
    display: block;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
}
 .dropdown li {
    color: #fff;
}
.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
}
/* DROP DOWN WRAPPER */
.dropdown div{
	position: absolute;
	height: 0;
	left: 13px;
	right: 0;
	top: 36px;
	background: #e8514a;
	overflow: hidden;
	opacity: 0;
	color: #fff;
	width: 90px;
}
.dropdown:hover div{
	background:#e8514a;
}
/* Height is adjusted by JS on open */
.dropdown.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.dropdown.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
	padding:0;
	background:#000;
}
.dropdown.scrollable.open ul{
	overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.dropdown li{
	list-style: none;
	padding:8px;
	border-bottom: 1px solid #e8514a;
}
.dropdown li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.dropdown li.focus{
	background:#e8514a;
	position: relative;
	z-index: 3;
	color: #fff;
}
.dropdown li.active{
	background:#e8514a;
	color: #fff;
}
.header-bottom {
    padding: 18px 0px;
    background-color: #ecedee;
}
/*--end-bottom-header--*/
/*--banner-Part-starts-Here --*/
/*--banner-starts--*/
/*------------------ Slider Part starts Here----------*/
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks_nav {
  	position: absolute;
  	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 95.8%;
	left: 80%;
  	opacity: 0.7;
  	z-index: 3;
  	text-indent: -9999px;
  	overflow: hidden;
  	text-decoration: none;
  	height: 30px;
  	width: 30px;
  	background: transparent url("../images/arrow.png") no-repeat left top;
	display: none;
}
.callbacks_nav:active {
  	opacity: 1.0;
}
.callbacks_nav.next {
	left: auto;
	background-position: right top;
	right: 16.4%;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides img {
  height: auto;
  display: block;
  float: left;
  width: 100%;
  border: 0;
  margin-top: 70px;
}
.callbacks_tabs {
	list-style: none;
	top: 101%;
	z-index: 999;
	left: 0%;
	width: 100%;
	text-align: center;
	margin: 0;
	display: block;
	padding: 0;
}
.callbacks_tabs li{
	display:inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 12px;
	width: 12px;
	display: inline-block;
	border:none;
	background:#000;
    border-radius: 50%
}
.callbacks_here a:after{
	background:rgba(232,81,74,.9);

}
ul.callbacks_tabs.callbacks2_tabs {
	display: block;
}
/*--Slider-Part-Ends-Here--*/	
/*--banner-Part-Ends-Here --*/
/*--about-starts--*/
.about {
    padding: 5em 0px 4em 0px;
}
.about-left img{
	width:100%;
}
.about-left figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width:100%;
}
.about-left figure img {
	position: relative;
	display: block;
}
.features-grids figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.about-left figure figcaption::before,
.fcol1 figure figcaption::after {
	pointer-events: none;
}
.about-left figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid #202022;
}
figure.effect-bubba {
	background: rgba(232,81,74,.9);
}
figure.effect-bubba:hover img {
	opacity: 0.3;
}
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s,-webkit-transform 0.35s;	
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	-moz-transform: scale(0,1); 
	-o-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
}
figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	-moz-transform: scale(1,0);
	-o-transform: scale(1,0);
	-ms-transform: scale(1,0);
	transform: scale(1,0);
}
figure.effect-bubba h4,figure.effect-bubba h2 {
	padding-top: 22%;
	-webkit-transition: transform 0.35s;
	-moz-transition: transform 0.35s;
	-o-transition: -o-transform 0.35s;
	-ms-transition: -ms-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	-moz-transform: translate3d(0,-20px,0);
	-o-transform: translate3d(0,-20px,0);
	-ms-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity:0;
	color:#fff;
	font-size: 1.8em;
    font-family: 'BreeSerif-Regular';
}
figure.effect-bubba h4.gal {
	padding-top: 21%;
}
figure.effect-bubba p {
	padding: 0px 3.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	-moz-transform: translate3d(0,20px,0);
	-o-transform: translate3d(0,20px,0);
	-ms-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	color:#fff;
	font-size: 1em;
	font-family: 'Lato-Regular';
}
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
figure.effect-bubba:hover h4,
figure.effect-bubba:hover p,figure.effect-bubba:hover h2 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*--about-end--*/
/*--product-starts--*/
.product-left {
    text-align: center;
	margin-bottom: 35px;

}
.product-main {
    padding: 1em 0px 2.7em 0px;
    border:3px solid #202022;
	height: 300px;
}
.product-main img {
	height: 115px;
}
.product {
    padding: 3em 0px 6em 0px;
}
.product-bottom h3 {
    font-size: 16px;
    color: #000;
    margin: 0;
    text-transform: uppercase;
	font-family: 'BreeSerif-Regular';
}
.product-bottom h4 span{
    font-size: 17px;
    color: #000;
    margin: 5px 0 0 0;
    font-family: 'BreeSerif-Regular';
}
.product-bottom h4 i {
    background: url(../images/cart-2.png) no-repeat;
    width: 20px;
    height: 15px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
.product-left:hover .product-bottom h4 i{
	background: url(../images/cart-3.png) no-repeat;
}
.product-bottom {
    text-align: left;
    margin-top: 20px;
    padding-left: 30px;
}
.product-bottom p {
	font-size: 12px;
    color: #999;
    margin: 5px 0 0 0;
    text-transform: uppercase;
}
.product-one:nth-child(2){
	margin-top:30px;
}
img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
	margin: 0 auto;
}
.product-left:hover img.zoom-img{
    -webkit-transform: scale(1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 700ms;
    -moz-transform: scale(1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 700ms;
    overflow: hidden;
	cursor:pointer;
}
a.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
    padding: 12px 0px;
}
.product-left:hover .product-bottom h3{
	color:#e8514a;
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.product-left:hover .product-bottom h4 span{
	color:#e8514a;
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.product-left:hover .product-main{
	box-shadow: 5px -15px 50px 2px rgba(217, 23, 12, 0.15);
	border:3px solid #e8514a;
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.product-left:hover .srch{
	display:block;
}
.srch {
    display: none;
    position: absolute;
    top: 18%;
    left: 16px;
}
.srch span {
    background: #e8514a;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 25px;
}
/*--product-end--*/
/*--information-starts--*/
.infor-left h3 {
    font-size: 1.5em;
    color: #fff;
    margin: 0 0 0 0;
    font-family: 'BreeSerif-Regular';
	font-weight: 600;
}
.infor-left ul li a span {
    background: url(../images/s-icons.png) no-repeat;
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
}
.infor-left ul li a span:hover {
	transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    -moz-transition: .5s all;
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
}
.infor-left ul li a span.fb{
	background-position:0px 0px;
}
.infor-left ul li a span.twit{
	background-position:-34px 0px;
}
.infor-left ul li a span.google{
	background-position:-68px 0px;
}
.infor-left ul {
    padding: 0;
    margin: 25px 0 0 0;
}
.infor-left ul li{
	display:block;
	list-style:none;
	margin-top:10px;
}
.infor-left ul li:nth-child(1){
	margin-top:0;
}
.infor-left ul li a h6 {
    color: #999;
    font-size: 13px;
    font-family: 'BreeSerif-Regular';
    margin: 0 0 0 10px;
    display: inline-block;
    vertical-align: middle;
}
.infor-left ul li a h6:hover{
	color:#e8514a;
}
.infor-left ul li a p {
    color: #999;
    font-size: 13px;
    margin: 0;
}
.infor-left ul li a p:hover{
	color:#e8514a;
}
.infor-left ul li a:hover{
	text-decoration:none;
}
.infor-left h4 {
    color: #999;
    font-size: 13px;
    margin: 20px 0 0 0;
}
.infor-left h4 span {
    display: block;
    margin: 7px 0;
}
.infor-left h5 {
    font-size: 15px;
    color: #999;
    margin: 19px 0 0 0;
}
.infor-left p a {
    font-size: 13px;
    color: #999;
}
.infor-left p a:hover{
	color: #e8514a;
	text-decoration:none;
}
.infor-left p {
    margin: 6px 0 0 0;
}
.infor-top {
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 3em;
}
/*--information-end--*/
/*--footer-starts--*/
.footer-left p{
	color:#000;
	font-size:15px;
}
.footer-left p a{
	color:#000;
}
.footer-left input[type="text"] {
    width: 47%;
    margin-right: 10px;
    color: #fff;
    font-size: 11px;
    background: none;
    padding: 8px 10px;
    outline: none;
    border: none;
    border: 1px solid #fff;
}
.footer-left input[type=submit] {
    color: #fff;
    padding: 6px 20px;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #fff;
    background: none;
    outline: none;
}
.footer-left input[type=submit]:hover{
    background: #e8514a;
	color:#fff;
	border: 1px solid #e8514a;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.footer{
	padding:3em 0px;
}
.footer-right {
    text-align: right;
}
.footer-right p {
    margin: 8px 0 0 0;
    font-size: 13px;
    color: #000;
}
.footer-right p a{
	color: #000;
}
.footer-right p a:hover{
	color: #e8514a;
	text-decoration:none;
}
/*--footer-end--*/
/*--product-page-starts--*/
.prdt{
	padding:6em 0px;
}
.w_sidebar{
	border: 1px solid #EBEBEB;
}
.w_nav2{
	padding: 20px;
}
.w_nav2  li{
	line-height: 1.5em;
	display: inline-block;
}
.w_nav2 li a{
	display: block;
	padding: 14px;
}
.w_nav2 li a.color1{
	background:	#e8514a;
}
.w_nav2 li a.color2{
	background:	#e8514a;
}
.w_nav2 li a.color3{
	background:	#B03060;
}
.w_nav2 li a.color4{
	background:	#000080;
}
.w_nav2 li a.color5{
	background:	#E60D41;
}
.w_nav2 li a.color6{
	background:	#45BF55;
}
.w_nav2 li a.color7{
	background:	#FF7F00;
}
.w_nav2 li a.color8{
	background:	#8B4513;
}
.w_nav2 li a.color9{
	background:	#FFD700;
}
.w_nav2 li a.color10{
	background:	#9FA8AB;
}
.w_nav2 li a.color11{
	background:	#C0C0C0;
}
.w_nav2 li a.color12{
	background:	#e8514a;
}
.w_nav2 li a.color13{
	background:	#FFCBDB;
}
.w_nav2 li a.color14{
	background:	#B87333;
}
.w_nav2 li a.color15{
	background:	#BFB540;
}
.sky-form .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
}
.w_sidebar h3{
	padding:0 20px 10px;
	font-size: 1em;
	color: #555555;
	text-transform:uppercase;
}
/* radios and checkboxes */
.sky-form {
	margin-top: -10px;
}
.row1 {
    outline: none;
    padding: 20px;
    overflow: auto;
    height: 155px;
}
.row2 {
	height: 175px;
}
.sky-form.col.col-4 ul {
	padding: 0;
	list-style: none;
}
.sky-form h4{
	margin-top: 10px;
	padding: 15px 20px;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size:16px;
	font-family: 'Lora-Regular';
}
.sky-form section {
	margin-bottom: 20px;
}
.sky-form .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
}
.sky-form .label.col {
	margin: 0;
	padding-top: 10px;
}
.sky-form .input,
.sky-form .select,
.sky-form .textarea,
.sky-form .radio,
.sky-form .checkbox,
.sky-form .toggle,
.sky-form .button {
	position: relative;
	display: block;
}
/* selects */
.sky-form .select i {
	position: absolute;
	top: 14px;
	right: 14px;
	width: 1px;
	height: 11px;
	background: #fff;
	box-shadow: 0 0 0 12px #fff;
}
.sky-form .select i:after,
.sky-form .select i:before {
	content: '';
	position: absolute;
	right: 0;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.sky-form .select i:after {
	bottom: 0;
	border-top: 4px solid #404040;
}
.sky-form .select i:before {
	top: 0;
	border-bottom: 4px solid #404040;
}
.sky-form .select-multiple select {
	height: auto;
}
/* radios and checkboxes */
.sky-form .radio,.sky-form .checkbox {
	outline:none;
	border:none;
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 13px;
	line-height: 27px;
	color: #555555;
	cursor: pointer;
	text-transform: capitalize;
	font-weight: normal;
	margin-top: 0;
}
.sky-form .radio{
	text-transform: none;
}
.sky-form .radio:last-child,
.sky-form .checkbox:last-child {
	margin-bottom: 0;
}
.sky-form .radio input,
.sky-form .checkbox input {
	position: absolute;
	left: -9999px;
}
.sky-form .radio i,
.sky-form .checkbox i {
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	width: 17px;
	height: 17px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	background: #fff;
}
.sky-form .radio i {
	border-radius: 50%;
}
.sky-form .radio input + i:after,
.sky-form .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.sky-form .radio input + i:after {
	content: '';
	top: 4px;
	left: 4px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.sky-form .checkbox input + i:after {
	content: '';
	top: 3px;
	left: 2px;
	width: 10px;
	height: 7px;
	background: url(../images/tick.png) no-repeat;
	text-align: center;
}
.sky-form .radio input:checked + i:after,
.sky-form .checkbox input:checked + i:after {
	opacity: 1;
}
.sky-form .inline-group {
	margin: 0 -30px -4px 0;
}
.sky-form .inline-group:after {
	content: '';
	display: table;
	clear: both;
}
.sky-form .inline-group .radio,
.sky-form .inline-group .checkbox {
	float: left;
	margin-right: 30px;
}
.sky-form .inline-group .radio:last-child,
.sky-form .inline-group .checkbox:last-child {
	margin-bottom: 4px;
}
/* icons */

.sky-form [class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
/* normal state */
.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea,
.sky-form .radio i,
.sky-form .checkbox i,
.sky-form .toggle i,
.sky-form .icon-append,
.sky-form .icon-prepend {
	border-color: #e5e5e5;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
.sky-form .toggle i:before {
	background-color: #e8514a;
}
/* hover state */
.sky-form .input:hover input,
.sky-form .select:hover select,
.sky-form .textarea:hover textarea,
.sky-form .radio:hover i,
.sky-form .checkbox:hover i,
.sky-form .toggle:hover i {
	border-color: #e8514a;
}
.sky-form .button:hover {
	opacity: 1;
}
/* focus state */
.sky-form .input input:focus,
.sky-form .select select:focus,
.sky-form .textarea textarea:focus,
.sky-form .radio input:focus + i,
.sky-form .checkbox input:focus + i,
.sky-form .toggle input:focus + i {
	border-color: #e8514a;
}
/* checked state */
.sky-form .radio input + i:after {
	background-color: #e8514a;
}
.sky-form .checkbox input + i:after {
	color: #e8514a;
}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
	border-color: #e8514a;
}
/* error state */
.sky-form .state-error input,
.sky-form .state-error select,
.sky-form .state-error textarea,
.sky-form .radio.state-error i,
.sky-form .checkbox.state-error i,
.sky-form .toggle.state-error i {
	background: #fff0f0;
}
/* success state */
.sky-form .state-success input,
.sky-form .state-success select,
.sky-form .state-success textarea,
.sky-form .radio.state-success i,
.sky-form .checkbox.state-success i,
.sky-form .toggle.state-success i {
	background: #f0fff0;
}
/* disabled state */
.sky-form .input.state-disabled input,
.sky-form .select.state-disabled,
.sky-form .textarea.state-disabled,
.sky-form .radio.state-disabled,
.sky-form .checkbox.state-disabled,
.sky-form .toggle.state-disabled,
.sky-form .button.state-disabled {
	cursor: default;
	opacity: 0.5;
}
.sky-form .input.state-disabled:hover input,
.sky-form .select.state-disabled:hover select,
.sky-form .textarea.state-disabled:hover textarea,
.sky-form .radio.state-disabled:hover i,
.sky-form .checkbox.state-disabled:hover i,
.sky-form .toggle.state-disabled:hover i {
	border-color: #e5e5e5;
}
/*-- start scrollpane --*/
.jspContainer{
	overflow: hidden;
	position: relative;
}
.jspPane{
	position: absolute;
	outline: none;
	padding: 20px !important;
}
.jspVerticalBar{
	position: absolute;
	top: 0;
	right:0px;
	width:5px;
	height: 100%;
}
.jspHorizontalBar{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}
.jspCap{
	display: none;
}
.jspHorizontalBar .jspCap{
	float: left;
}
.jspTrack{
	background: #f0f0f0;
	position: relative;
}
.jspDrag{
	background: #e8514a;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{
	float: left;
	height: 100%;
}
.jspArrow{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}
.jspArrow.jspDisabled{
	cursor: default;
	background: #80808d;
}
.jspVerticalBar .jspArrow{
	height: 16px;
}
.jspHorizontalBar .jspArrow{
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus{
	outline: none;
}
.jspCorner{
	background: #eeeef4;
	float: left;
	height: 100%;
}
.single {
	padding: 3em 0;
}
/*-- end scrollpane --*/
/*--product-page-end--*/
/*--breadcrumbs-starts--*/
.breadcrumbs-main {
    border: 1px solid #D6D6D6;
}
.breadcrumb {
    background: none;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > .active {
    color: #C3C3C3;
}
.breadcrumb li a {
    color: #242424;
}
.breadcrumb li a:hover {
    color: #e8514a;
    text-decoration: none;
}
/*--breadcrumbs-end--*/
/*--contact-starts--*/
.contact{
	padding:6em 0px;
}
.contact-top{
	text-align:center;
}
.contact-text{
	margin-top:4%;
}
.contact-right input[type="text"] {
	width: 32.51%;
	margin: 0px;
	color: #000;
	background: none;
	padding: 15px 10px;
	outline: none;
	border: 1px solid #000;
	font-family: 'Lato-Regular';
}
.contact-right textarea {
	width: 100%;
	color: #000;
	resize: none;
	background: none;
	height: 12.7em;
	padding: 15px;
	outline: none;
	border: 1px solid #000;
	margin-top: 1.4%;
	font-family: 'Lato-Regular';
}
.submit-btn input[type=submit] {
	color: #000;
	padding: 9px 42px;
	font-size: 15px;
	cursor: pointer;
	margin: 20px 0 0 0px;
	border: 1px solid #000;
	background: none;
	font-family: 'Lato-Regular';
	outline: none;
}
.submit-btn input[type=submit]:hover{
	background: #e8514a;
	border: 1px solid #e8514a;
	color:#fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.address h5 {
    color: #e8514a;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
}
.contact-right input[type="text"]:nth-child(2) {
	margin: 0 7px;
}
.address p{
	color: #999;
	font-size: 16px;
	line-height: 1.6em;
	margin-top: 1em;
}
.address p span{
	display:block;
}
.address p a{
	color: #999;
}
.address:nth-child(1){
	margin-bottom:2em;
}
/*--contact-end--*/
/*--map-starts--*/
.map iframe{
	width:100%;
	height:350px;
}
.map {
    padding-bottom: 3em;
}
/*--map-end--*/
/*--account-starts--*/
.account{
	padding:6em 0px;
}
.account-left h3 {
    font-size: 1.7em;
    color: #e8514a;
    margin: 0 0 0 0;
    font-family: 'BreeSerif-Regular';
}
.account-top,.register-top{
	text-align:center;
}
.account-main,.register-main{
	margin-top:4%;
}
.account-bottom {
    margin-top: 2.2em;
}
.account-left input[type="text"],.account-left input[type="password"] {
    width: 90%;
    margin: 0px;
    color: #000;
    background: none;
    padding: 8px 10px;
    outline: none;
    border: 1px solid #000;
    font-family: 'Lato-Regular';
    font-size: 14px;
	margin-bottom:20px;
}
.address {
    margin-top: 10px;
}
.submit{
	margin:0 0 0 1em;
}
.address a {
    font-size: 14px;
    color: #666;
    font-weight: 500;
    font-family: 'Lato-Regular';
	margin-right: 20px;
}

.tab-nike>li.active>a, .tab-nike>li.active>a:focus, .tab-nike>li.active>a:hover {
	color: #100b0b;
	background-color: #e8514a;
	border-radius: 0;
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.address input[type="submit"] {
    background: #e8514a;
    color: #FFF;
    font-size: 1em;
    padding: 0.5em 1.2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    outline: none;
	font-family: 'Lato-Regular';
}
.address input[type="submit"]:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
/*--account-end--*/
/*--start-checkout--*/
.ckeckout{
	padding:6em 0px;
}
.close1,.close2,.close3{
	background: url('../images/close.png') no-repeat 0px 0px;
	cursor: pointer;
	width: 28px;
	height: 28px;
	position: absolute;
    right: 5px;
    top: 10px;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
.check-in {
	width:100%;
	margin: 2em 0 2em;
}
ul.unit {
    border: 1px solid #BCBBBB;
    padding: 10px 10px;
}
ul.unit li {
    display: inline-block;
    width: 25%;
    float: left;
}
ul.cart-header li p,ul.cart-header1 li p,ul.cart-header2 li p{
    font-size: 11px;
    line-height: 1.6em;
    color: #999;
    margin: 0;
}
ul.unit li span{
	display:inline-block;
	color:#000;
	font-size:1.2em;
	text-align:center;
}
ul.cart-header, ul.cart-header1 {
    padding: 1em;
    background: #f8f8f8;
    border-bottom: 1px solid #181b2a;
    margin-bottom: 20px;
}
ul.cart-header2{
	padding:1em;
	background:#f8f8f8;
}
ul.cart-header li, ul.cart-header1 li, ul.cart-header2 li {
    display: inline-block;
    width: 25%;
    float: left;
}
ul.cart-header li span,ul.cart-header1 li span,ul.cart-header2 li span{
	margin: 2.3em 0 0;
	display: block;
	color:#000;
	font-size: 1.05em;
	text-align: left;
}
span.cost {
    font-size: 1.4em !important;
    margin-top: 1.4em !important;
}
.in-check {
	margin-top: 2%;
}
.cart-header,.cart-header1,.cart-header2{
	position:relative;
}
.cart-items {
	padding: 0 1em;
}
.cart-items h3 {
    font-size: 2em;
    color: #000;
    margin: 0 0 0 0;
    font-family: 'BreeSerif-Regular';
}
.ckeck-top{
	text-align:center;
	margin-bottom:4%;
}
span.name {
    font-size: 1.35em !important;
    margin-top: 1.45em !important;
}
/*--end-checkout--*/
/*--starts-single--*/
.tabs {
    margin-top: 4em;
}
.latestproducts {
    margin-top: 3.5em;
}
.single-para h2 {
    font-size: 2.2em;
    color: #000;
    margin: 0 0 0 0;
    font-family: 'BreeSerif-Regular';
}
.star-on {
    padding-top: 1.3em;
}
.star-on ul {
    float: left;
    padding: 0;
	margin: 0;
}
.star-on ul li {
    vertical-align: sub;
}
ul.star-footer li {
    display: inline-block;
}
.star-on a {
    text-decoration: none;
    font-size: 1em;
    color: #000;
}
.star-on a:hover {
    color: #e8514a;
}
ul.star-footer li i {
    height: 16px;
    width: 16px;
    background: url("../images/star.png") no-repeat;
    display: inline-block;
}
.review {
    float: left;
    margin-left: 2em;
}
.single-para h5 {
    color: #000;
    font-size: 2.3em;
    border-bottom: 1px solid #E6E6E6;
    margin: 0;
    padding: 17px 0 6px 0;
}
.single-para p {
    font-size: 15px;
    color: #000;
    line-height: 1.8em;
    margin: 1em 0 0 0;
}
.available {
    padding: 1em 0;
}
.available ul{
	padding:0;
	margin:0;
}
.available ul li {
    list-style: none;
    padding: 0 0.5em 0 0;
    color: #4c4c4c;
    font-size: 1.1em;
    float: left;
    width: 100%;
    margin: 0.5em 0;
}
.available ul li select {
    outline: none;
    padding: 12px;
    border: none;
    background: #eeeeee;
    width: 77%;
    margin-left: 13%;
    cursor: pointer;
}
.available ul li.size-in select {
    margin-left: 16%;
}
ul.tag-men {
    padding: 0.3em 0;
    border-top: 1px solid #C4C3C3;
    border-bottom: 1px solid #C4C3C3;
    margin: 10px 0 0 0;
}
ul.tag-men li {
    list-style: none;
    color: #000;
    margin: 5px 0;
    font-weight: 300;
    font-size: 0.9em;
    font-family: 'BreeSerif-Regular';
}
ul.tag-men li span.women1 {
    margin-left: 9em;
}
a.add-cart {
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 0.4em 0.8em;
    font-size: 1.15em;
    text-transform: uppercase;
    margin-top: 2em;
    display: inline-block;
}
a.add-cart:hover {
	background: #e8514a;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*--starts-slide--*/
/*.thumb-image { width: 305px; }*/

/*.thumb-image > img { width: 100%; }*/
/*--end-slide--*/
.menu_drop {
	width: auto;
	height: auto;
	padding: 0;
	list-style: none;
}
ul.menu_drop li.item1{
	background:rgba(0, 0, 0, 0.78);
}
ul.menu_drop li.item1 img, ul.menu_drop li.item2 img, ul.menu_drop li.item3 img, ul.menu_drop li.item4 img, ul.menu_drop li.item5 img{
	margin: -3px 10px 0 0;
}
ul.menu_drop li.item2{
	background:rgba(0, 0, 0, 0.83);
}
ul.menu_drop li.item3{
	background:rgba(0, 0, 0, 0.89);
}
ul.menu_drop li.item4{
	background:rgba(0, 0, 0, 0.94);
}
ul.menu_drop li.item5{
	background:#000;
}
ul {
	padding: 0;
	list-style: none;
}
.menu_drop > li > a {
    width: 100%;
    height: 3.2em;
    line-height: 3.5em;
    text-indent: 1.2em;
    display: block;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
	text-decoration:none;
} 
.menu_drop ul li a {
	background: #fff;
	width: 100%;
	height: 5em;
	line-height: 1.8em;
	display: block;
	position: relative;
	font-size:13px;
	color: #878d95;
}
.menu_drop ul li a:hover{
	text-decoration:none;
}
.menu_drop > li > a:hover, .menu > li > a.active {
	background:#e8514a;
	text-decoration:none;
}
.m_4{
	margin:3em 0 1em;
}
.m_4 p{
	color:#000;
	font-size:1em;
	text-transform:uppercase;
	font-weight:bold;
}
span.left_line2 {
	height: 1px;
	width:44%;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	left: 0;
	bottom: 10px;
}
span.right_line2 {
	height: 1px;
	width:44%;
	display: block;
	background: rgb(208, 208, 208);
	position: absolute;
	right: 0;
	bottom: 10px;
}
.images_3_of_2 {
	width: 26.2%;
	float: left;
	margin-right: 2.6%;
}
.span_3_of_2 {
	width: 70.3333%;
}
.desc1 {
	display: block;
	float: left;
}
h3.m_2{
	text-align:center;
	margin:3em 0 2em;
	color: #656363;
	font-size: 1.5em;
	text-transform: uppercase;
}
/*--end-single--*/
/*--start-typo--*/
.pages {
	padding: 6em 0px;
}
.headdings, .Buttons, .progress-bars, .alerts, .bread-crumbs, .pagenatin, .appearance, .distracted {
	padding: 2em 0;
}
h3.ghj {
    font-size: 1.8em;
    margin: 0 0 1em 0;
    color: #e8514a;
    font-family: 'BreeSerif-Regular';
}
.heading h2{
	font-size: 2.2em;
	margin: 0 0 0 0;
    color: #000;  
    font-family: 'BreeSerif-Regular';
}
.typo-top{
	text-align:center;
}
.typo-bottom{
	margin-top:3%;
}
.table tr th {
    width: 50%;
}
/*--end-typo--*/
/*--starts-register--*/
.account-left ul{
	padding:0;
	margin:0;
}
.account-left ul li{
	list-style:none;
	display:inline-block;
}
.radio {
    margin-top: 0;
}
.account-left ul li:nth-child(1) {
    margin-right: 40px;
}
.account-left ul {
    padding: 0;
    margin: 10px 0 10px 20px;
}
.sky-form.checkbox {
    font-size: 0.85em;
    color: #999;
    margin: 0;
}
.account-left p{
	margin: 1.2em 0 2.2em 0;
	font-size:14px;
	line-height:1.8em;
	color:#999;
}
.account-right a{
	font-size:13px;
	padding:10px 12px;
	color:#fff;
	background:#e8514a;
}
.account-right a:hover{
	text-decoration:none;
	background:#000;
}
.register{
	padding:6em 0px;
}
/*--end-register--*/
/*--media-quaries-starts-here--*/
@media (max-width:1440px){
.banner,.banner1,.banner2{
	min-height:570px;
}	
}
@media (max-width:1366px){
.banner, .banner1, .banner2 {
    min-height: 540px;
}
}
@media (max-width:1280px){
.logo {
    padding: 22px 0 17px 0px;
}
.single-para h2 {
    font-size: 2.1em;
}
.single-para h5 {
    font-size: 2.1em;
}
.contact,.pages,.account,.register,.ckeckout,.prdt {
    padding: 5em 0px;
}
.header-bottom {
    padding: 15px 0px;
}
.banner, .banner1, .banner2 {
    min-height: 505px;
}
.about {
    padding: 4.5em 0px 3em 0px;
}
.product {
    padding: 3em 0px 5em 0px;
}
.memenu>li>.mepanel {
    top: 45px !important;
    text-transform: uppercase;
}
}
@media (max-width:1024px){
.banner, .banner1, .banner2 {
    min-height: 408px;
}
.col-md-5.single-top-left{
	width: 51%;
}
.single-top-right{
	padding: 0;
	width: 47%;
	float: right;
}
.sky-form h4 {
    padding: 12px 20px;
    font-size: 15px;
}
.headdings, .Buttons, .progress-bars, .alerts, .bread-crumbs, .pagenatin, .appearance, .distracted {
    padding: 1em 0;
}
.account-left h3 {
    font-size: 1.5em;
}
.contact, .pages, .account, .register, .ckeckout, .prdt {
    padding: 4em 0px;
}
.logo a h1 {
    font-size: 28px;
}
.logo {
    padding: 19px 0 12px 0px;
}
.top-header {
    padding: 7px 0px;
}
.header-bottom {
    padding: 11px 0px;
}
.header-right {
    padding: 0;
    width: 28%;
    float: right;
}
.header-left {
    width: 72%;
    float: left;
}
.search-bar input[type="submit"] {
    right: 4%;
}
.dropdown div {
    left: 3px;
    top: 33px;
}
figure.effect-bubba h4,figure.effect-bubba h2  {
    font-size: 1.6em;
}
.memenu>li>.mepanel {
    width: 85% !important;
    top: 41px !important;
    padding: 20px 30px 20px 50px !important;
}
.callbacks_tabs a:after {
    height: 11px;
    width: 11px;
}
.product {
    padding: 2em 0px 4em 0px;
}
a.mask {
    padding: 0px 0px;
}
.product-bottom {
    margin-top: 13px;
    padding-left: 25px;
}
.product-main {
    padding: 1em 0px 1.9em 0px;
}
.infor-top {
    padding-bottom: 2.5em;
}
.single-para h2 {
    font-size: 1.9em;
}
.star-on {
    padding-top: 1.1em;
}
.single-para h5 {
    font-size: 1.9em;
}
.single-para p {
    font-size: 14px;
    margin: 10px 0 0 0;
}
.available ul li select {
    padding: 8px;
    width: 75%;
}
.flex-control-thumbs li {
    width: 32.34% !important;
}
.thumb-image {
  width: 242px;
}
.map iframe {
    height: 300px;
}
.contact-right input[type="text"]:nth-child(2) {
    margin: 0 5px;
}
.contact-right input[type="text"] {
    padding: 11px 10px;
}
.address h5 {
    font-size: 1.3em;
}
.address p {
    font-size: 15px;
    margin: 10px 0 0 0;
}
.address:nth-child(1) {
    margin-bottom: 1.3em;
}
.contact-right textarea {
    width: 99.8%;
}
.heading h2 {
    font-size: 2.1em;
}
.cart-items h3 {
    font-size: 1.75em;
}
span.name {
    font-size: 1.25em !important;
    margin-top: 2.5em !important;
}
span.cost {
    font-size: 1.25em !important;
    margin-top: 2.45em !important;
}
.tabs {
    margin-top: 3em;
}
}
@media (max-width:768px){
.top-header-left{
	width:50%;
	float:left;
}
.cart-items h3 {
    font-size: 1.7em;
}
.label {
    font-size: 67%;
}
.heading h2 {
    font-size: 2em;
}
.contact-right {
    margin-top: 20px;
}
.contact-right textarea {
    height: 11.7em;
}
.submit-btn input[type=submit] {
    font-size: 14px;
    margin: 13px 0 0 0px;
}
.map iframe {
    height: 250px;
}
.flex-control-thumbs li {
    width: 32.65% !important;
}
.single-para h2 {
    font-size: 1.7em;
}
.review {
    margin-left: 1.4em;
}
.single-para h5 {
    font-size: 1.8em;
}
.available ul li.size-in select {
    margin-left: 15%;
}
.p-left {
    width: 33.3% !important;
}
.prdt-right {
    margin-top: 2em;
}
.contact, .pages, .account, .register, .ckeckout, .prdt {
    padding: 3em 0px;
}
.box {
    width: 20%;
}
.logo a h1 {
    font-size: 22px;
}
.memenu {
    margin: 0px 0 0 0 !important;
}
.header-left {
    padding-left: 0;
}
.memenu>li>.mepanel {
    padding: 20px 30px 20px 22px !important;
}
.search-bar {
    width: 98%;
    margin-top: 6px;
}
.header-bottom {
    padding: 13px 0px 8px 0px;
}
.banner, .banner1, .banner2 {
    min-height: 305px;
}
.search-bar input[type="submit"] {
    top: 15px;
}
.about-left {
    width: 33.3%;
    float: left;
	padding: 0 10px;
}
.about {
    padding: 3.5em 0px 1em 0px;
}
figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after {
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}
figure.effect-bubba h4,figure.effect-bubba h2  {
    font-size: 1.2em;
	padding-top: 17%;
}
figure.effect-bubba p {
    padding: 0px 0.5em;
    font-size: 13px;
}
.product-left {
    width: 25%;
    float: left;
    padding: 0 8px;
}
.mask img {
    width: 60%;
}
.product-bottom {
    margin-top: 9px;
    padding-left: 15px;
}
.product-bottom h3 {
    font-size: 15px;
}
.product-bottom h4 {
    margin: 4px 0 0 0;
}
.product-bottom p {
    font-size: 11px;
    margin: 4px 0 0 0;
}
.product-main {
    padding: 1em 0px 1.8em 0px;
}
.srch span {
    font-size: 13px;
    padding: 4px 12px;
}
.srch {
    left: 9px;
}
.infor-left {
    width: 25%;
    float: left;
    padding: 0 5px;
}
.infor-left ul li a span {
    width: 30px;
    height: 30px;
    background-size: 300%;
}
.infor-left ul li a span.twit {
    background-position: -30px 0px;
}
.infor-left ul li a span.google {
    background-position: -60px 0px;
}
.infor-left h3 {
    font-size: 1.34em;
}
.product {
    padding: 2em 0px 3em 0px;
}
.product-one:nth-child(2) {
    margin-top: 20px;
}
.infor-top {
    padding-bottom: 2em;
}
.footer-left {
    text-align: center;
}
.footer-right {
    margin-top: 22px;
	text-align:center;
}
.footer-right p {
    margin: 0px 0 0 0;
}
.footer {
    padding: 2em 0px;
}
.single-top-right {
    margin-top: 4%;
    width: 100%;
    float: left;
}
.single-top-left {
    width: 50%;
    float: left;
}
.single-right {
    margin-top: 4%;
}
.thumb-image {
    width: 305px;
}
.account-left {
    width: 50%;
    float: left;
}
.account-left input[type="text"], .account-left input[type="password"] {
    margin-bottom: 15px;
	width: 95%;
}
.account-bottom {
    margin-top: 1.4em;
}
.address input[type="submit"] {
    padding: 0.45em 1.1em;
}
.account-left p {
    font-size: 13px;
	margin: 1.2em 0 1.5em 0;
}
.account-main, .register-main {
    margin-top: 3%;
}
.account-right a {
    padding: 9px 10px;
}
.pagination {
    margin: 15px 0;
}
.menu_drop > li > a {
    font-size: 13px;
}
a.add-cart {
    font-size: 1em;
}
.tabs {
    margin-top: 2em;
}
}
@media (max-width:640px){
.dropdown .selected, .dropdown li {
    font-size: 11px;
}
a.add-cart {
    font-size: 13px;
}
.menu_drop > li > a {
    font-size: 12px;
}
.menu_drop > li > a img {
    width: 3.5%;
}
.single-top-left {
    width: 47% !important;
}
.cart-items h3 {
    font-size: 1.35em;
}
ul.unit li span {
    font-size: 1.1em;
}
ul.cart-header li span, ul.cart-header1 li span, ul.cart-header2 li span {
    font-size: 1.1em;
}
.label {
    font-size: 56%;
}
.radio{
    font-size: 13px;
}
.account-left h3 {
    font-size: 1.35em;
}
.account-left input[type="text"], .account-left input[type="password"] {
    margin-bottom: 10px;
    width: 95%;
    font-size: 12px;
    padding: 7px 10px;
}
.address a {
    font-size: 13px;
    margin-right: 10px;
}
.address input[type="submit"] {
    font-size: 12px;
}
.heading h2 {
    font-size: 1.65em;
}
.address h5 {
    font-size: 1.25em;
}
.address p {
    font-size: 14px;
    margin: 5px 0 0 0;
}
.map {
    padding-bottom: 2em;
}
.map iframe {
    height: 220px;
}
.contact-right input[type="text"]:nth-child(2) {
    margin: 0 4px;
}
.contact-right input[type="text"],.contact-right textarea {
    padding: 8px 10px;
    font-size: 13px;
}
.submit-btn input[type=submit] {
    padding: 7px 29px;
}
.flex-control-thumbs li {
    width: 32.5% !important;
}
.single-para h2 {
    font-size: 1.55em;
}
.dropdown {
    width: 67px;
}
.box {
    width: 23%;
}
a.simpleCart_empty {
    font-size: 10px;
}
.box_1 a img {
    margin: 3px 0 0 5px;
}
.logo a h1 {
    font-size: 21px;
}
.search-bar input[type="submit"] {
    background-size: 100%;
    width: 15px;
    height: 15px;
	top: 16px;
}
.memenu>li.showhide {
    height: 39px;
}
.memenu>li.showhide span.title {
    margin: 11px 0 0 25px;
}
.memenu>li.showhide span.icon1:after {
    top: 12px;
}
.memenu>li.showhide span.icon2:after {
    top: 23px;
}
.logo {
    padding: 14px 0 9px 0px;
}
.dropdown li {
    padding: 7px;
}
.banner, .banner1, .banner2 {
    min-height: 255px;
}
.callbacks_tabs a:after {
    height: 10px;
    width: 10px;
}
.callbacks_tabs {
    top: 99%;
}
.about {
    padding: 3em 0px 5px 0px;
}
figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}
figure.effect-bubba h4,figure.effect-bubba h2  {
    font-size: 1.1em;
    padding-top: 14%;
}
figure.effect-bubba p {
    padding: 0px 0.9em;
    font-size: 12px;
}
.product-bottom h3 {
    font-size: 13px;
}
.product-bottom {
    margin-top: 5px;
    padding-left: 10px;
}
.product-bottom p {
    font-size: 9px;
}
.product-bottom h4 span {
    font-size: 15px;
}
.product-bottom h4 i {
    margin-right: 2px;
}
.product-main {
    padding: 10px 0px 1.5em 0px;
}
.product-left {
    padding: 0 6px;
}
.srch {
    left: 7px;
}
.product-one:nth-child(2) {
    margin-top: 15px;
}
.product {
    padding: 2em 0px 2.5em 0px;
}
.infor-left {
    width: 50%;
    padding: 0 10px;
}
.infor-left ul {
    margin: 16px 0 0 0;
}
.infor-left:nth-child(3),.infor-left:nth-child(4){
	margin-top:3.5%;
}
h3.ghj {
    font-size: 1.55em;
}
.thumb-image {
    width: 220px;
}
}
@media (max-width:480px){
.dropdown .selected, .dropdown li {
    font-size: 10px;
}
.single-top-left {
    width: 65% !important;
}
.radio {
    margin: 0;
}
.close1, .close2, .close3 {
    width: 20px;
    height: 20px;
    top: 5px;
    background-size: 100%;
}
ul.unit li {
    width: 25%;
    text-align: left;
}
span.name {
    font-size: 1em !important;
}
span.cost {
    font-size: 1.14em !important;
    margin-top: 2.6em !important;
}
ul.cart-header li p, ul.cart-header1 li p, ul.cart-header2 li p {
    font-size: 10px;
}
ul.unit li span {
    font-size: 14px;
}
ul.cart-header li span, ul.cart-header1 li span, ul.cart-header2 li span {
    font-size: 13px;
}
.well {
    font-size: 15px;
}
.label {
    font-size: 39%;
}
h1.head {
    font-size: 28px;
}
h2.head {
    font-size: 26px;
}
h3.ghj {
    font-size: 1.45em;
}
.account-left {
    width: 100%;
    float: none;
}
.account-left:nth-child(2) {
    margin-top: 4%;
}
.account-left p {
    font-size: 13px;
}
.account-left h3 {
    font-size: 1.3em;
}
.heading h2 {
    font-size: 1.4em;
}
.address h5 {
    font-size: 1.15em;
}
.address p {
    font-size: 13px;
    margin: 3px 0 0 0;
}
.address:nth-child(1) {
    margin-bottom: 0;
}
.contact-right input[type="text"]:nth-child(2) {
    margin: 0 0 10px 0;
}
.contact-right input[type="text"] {
    width: 100%;
    margin: 0px 0 10px 0;
}
.contact-right textarea {
    margin: 0;
    height: 10.7em;
}
.submit-btn input[type=submit] {
    padding: 5px 20px;
    font-size: 12px;
    margin: 7px 0 0;
}
.map iframe {
    height: 190px;
}
.flex-control-thumbs li {
    width: 32.6% !important;
}
.single-top-right {
    margin-top: 5%;
}
.available ul li.size-in select {
    margin-left: 10%;
}
.available ul li select {
    padding: 6px;
}
.available ul li select {
    margin-left: 7%;
}
.single-para h2 {
    font-size: 1.35em;
}
.single-para h5 {
    font-size: 1.7em;
	padding: 10px 0 6px 0;	
}
.dropdown {
    width: 60px;
}
.box {
    width: 35%;
}
.memenu>li>a {
    padding: 10px 25px !important;
}
.memenu>li>a:hover {
    padding: 10px 25px !important;
}
span.simpleCart_total {
    font-size: 11px;
}
.box_1 a img {
    margin: 3px 0 0 2px;
    width: 33%;
}
a.simpleCart_empty {
    font-size: 9px;
}
.top-header {
    padding: 4px 0px;
}
.logo a h1 {
    font-size: 18px;
}
.memenu>li.showhide span.title {
    margin: 11px 0 0 20px !important; 
    font-size: 14px !important;
}
.memenu>li.showhide span.icon1:after {
    top: 12px !important;
	right: 20px !important;
}
.memenu>li.showhide span.icon2:after {
    top: 24px !important;
	right: 20px !important;
}
.memenu>li.showhide {
    height: 40px !important;
}
.header-right {
    width: 35%;
}
.header-left {
    width: 65%;
}
.search-bar input[type="text"] {
    padding: 7px 45px 7px 8px;
}
.search-bar input[type="submit"] {
    width: 13px;
    height: 13px;
    top: 15px;
}
.contact, .pages, .account, .register, .ckeckout, .prdt {
    padding: 2em 0px;
}
.search-bar {
    width: 100%;
    margin-top: 4px;
}
.banner, .banner1, .banner2 {
    min-height: 188px;
}
.callbacks_tabs a:after {
    height: 9px;
    width: 9px;
}
.callbacks_tabs {
    top: 97%;
}
.about {
    padding: 2.5em 0px 0px 0px;
}
.about-left {
    padding: 0 5px;
}
.about-left {
    padding: 0 15px;
    width: 100%;
	margin-top:1.3em;
}
.about-left:nth-child(1){
	margin-top:0;
}
figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after {
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
}
figure.effect-bubba h4,figure.effect-bubba h2 {
    font-size: 1.5em;
	padding-top: 25%;
}
figure.effect-bubba p {
    font-size: 15px;
}
.product-left {
    padding: 0 10px;
    width: 50%;
}
.product-left:nth-child(3),.product-left:nth-child(4){
	margin-top:20px;
}
.srch {
    left: 10px;
}
.infor-left h3 {
    font-size: 1.3em;
}
.footer-right {
    margin-top: 10px;
}
.footer-left input[type="text"] {
    width: 55%;
    margin-right: 5px;
    padding: 7px 10px;
}
.footer {
    padding: 1.5em 0px;
}
.dropdown div {
    left: 0px;
    top: 27px;
}
.skyblue li>a, .skyblue>li.showhide span {
    font-size: 15px;
}
.p-left {
    margin: 0!important;
	padding: 0 5px !important;
}
.cart-items h3 {
    font-size: 1.2em;
}
}
@media (max-width:320px){
.top-header-left {
    padding: 0;
}
.box {
    width: 45%;
}
span.simpleCart_total {
    font-size: 10px;
}
.box_1 a img {
    width: 30%;
}
a.simpleCart_empty {
    font-size: 8px;
}
.logo a h1 {
    font-size: 16px;
}
.logo {
    padding: 10px 0 8px 0px;
}
.search-bar input[type="submit"] {
    width: 12px;
    height: 12px;
	top: 11px;
    right: 4%;
}
.memenu>li.showhide span.title {
    margin: 9px 0 0 12px !important;
    font-size: 12px !important;
}
.memenu>li.showhide span.icon1:after {
    top: 8px !important;
    right: 12px !important;
}
.memenu>li.showhide span.icon2:after {
    top: 20px !important;
    right: 12px !important;
}
.memenu>li.showhide {
    height: 33px !important;
}
.memenu>li>a {
    padding: 8px 25px !important;
	font-size: 14px !important;
}
.memenu>li>a:hover {
    padding: 8px 25px !important;
}
.header-left {
    width: 60%;
    padding-right: 10px;
}
.header-right {
    width: 40%;
}
.search-bar {
    margin-top: 3px;
}
.search-bar input[type="text"] {
    padding: 5px 20px 5px 8px;
    font-size: 11px;
}
.banner, .banner1, .banner2 {
    min-height: 125px;
}
.callbacks_tabs a:after {
    height: 8px;
    width: 8px;
}
.callbacks_tabs {
    top: 93%;
}
.about {
    padding: 2em 0px 0px 0px;
}
figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after {
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}
figure.effect-bubba h4,figure.effect-bubba h2 {
    font-size: 1.3em;
    padding-top: 20%;
}
figure.effect-bubba p {
    font-size: 14px;
}
.product-left {
    padding: 0 5px;
}
.product {
    padding: 1.5em 0px 1.5em 0px;
}
.product-bottom h3 {
    font-size: 12px;
}
.srch span {
    font-size: 11px;
    padding: 3px 7px;
}
.srch {
    left: 6px;
}
.product-bottom {
    margin-top: 2px;
    padding-left: 7px;
}
.product-main {
    padding: 9px 0px 1.3em 0px;
}
.product-left:nth-child(3), .product-left:nth-child(4) {
    margin-top: 12px;
}
.infor-left h3 {
    font-size: 1.1em;
}
.infor-left {
    width: 50%;
    padding: 0 5px;
}
.infor-left ul {
    margin: 11px 0 0 0;
}
.infor-left ul li a span {
    width: 25px;
    height: 25px;
}
.infor-left ul li a span.google {
    background-position: -50px 0px;
}
.infor-left ul li a span.twit {
    background-position: -25px 0px;
}
.infor-top {
    padding-bottom: 1.2em;
}
.footer-left input[type="text"] {
    width: 68%;
    margin-right: 3px;
    padding: 6px 10px;
    font-size: 9px;
}
.footer-left input[type=submit] {
    padding: 3px 10px 6px 10px;
    font-size: 11px;
}
.footer-right p {
    font-size: 12px;
}
.footer {
    padding: 1.2em 0px;
}
.p-left {
    width: 100% !important;
	margin-top:15px !important;
}
.p-left:nth-child(1){
	margin-top:0px !important;
}
.p-left img{
	width:50%;
}
.single-bottom ul li input[type="checkbox"]+label span:first-child {
    width: 15px;
    height: 15px;
}
.heading h2 {
    font-size: 1.25em;
}
.address h5 {
    font-size: 1em;
}
.address p {
    font-size: 12px;
}
.contact-right {
    margin-top: 15px;
}
.contact-right input[type="text"], .contact-right textarea {
    padding: 6px 10px;
    font-size: 11px;
}
.contact-right textarea {
    height: 9.7em;
}
.submit-btn input[type=submit] {
    padding: 5px 14px;
    font-size: 11px;
}
.map iframe {
    height: 155px;
}
.account-main, .register-main {
    margin-top: 4%;
}
.account-bottom {
    margin-top: 1em;
}
.account-left {
    padding: 0;
}
.address {
    margin-top: 4px;
}
.address input[type="submit"] {
    padding: 0.4em 1em;
}
.account-left p {
    font-size: 12px;
    margin: 7px 0 1.5em 0;
}
.account-right a {
    padding: 7px 6px;
    font-size: 12px;
}
.address a {
    font-size: 12px;
    margin-right: 10px;
}
.submit {
    margin: 0;
}
h1.head {
    font-size: 22px;
}
h2.head {
    font-size: 19px;
}
h3.head {
    font-size: 16px;
}
h4.head {
    font-size: 14px;
}
.label {
    font-size: 23%;
}
.pagination {
    margin: 8px 0;
}
.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 7px 12px;
    font-size: 15px;
}
ul.cart-header, ul.cart-header1 {
    padding: 5px;
    margin-bottom: 10px;
}
.alert {
    font-size: 14px;
	margin-bottom: 10px;
}
.well {
    font-size: 14px;
}
.cart-items {
    padding: 0;
}
ul.unit li span {
    font-size: 12px;
}
ul.cart-header li span, ul.cart-header1 li span, ul.cart-header2 li span {
    font-size: 11px;
    text-align: center;
}
.close1, .close2, .close3 {
    width: 17px;
    height: 17px;
}
.account-left ul {
    margin: 3px 0 1px 20px;
}
.radio{
    margin: 0;
}
.account-left:nth-child(2) {
    margin-top: 4%;
}
.cart-items h3 {
    font-size: 1.1em;
}
.in-check {
    margin-top: 4%;
}
span.name {
    font-size: 12px !important;
}
span.cost {
    font-size: 1em !important;
    margin-top: 2.7em !important;
}
ul.cart-header li, ul.cart-header1 li, ul.cart-header2 li {
    width: 25%;
}
ul.cart-header li p, ul.cart-header1 li p, ul.cart-header2 li p {
    font-size: 8px;
}
h3.ghj {
    font-size: 1.3em;
}
.headdings, .Buttons, .progress-bars, .alerts, .bread-crumbs, .pagenatin, .appearance, .distracted {
    padding: 0em 0;
}
.single-top-left {
    width: 100% !important;
}
.single-para h5 {
    font-size: 1.5em;
}
.single-para p {
    font-size: 13px;
}
.available ul li {
    font-size: 1em;
}
ul.tag-men {
    margin: 0px 0 0 0;
}
.menu_drop > li > a {
    height: 2.8em;
    line-height: 3em;
    font-size: 11px;
}
.sky-form .radio, .sky-form .checkbox {
    font-size: 12px;
}
}


#about-us .cell:hover:before {
	opacity: 0;
	filter: alpha(opacity=0);
	text-decoration: none;
}
#about-us .cell:hover p {
	height: 100px;
	text-decoration: none;
}
#about-us .cell:hover {
	background-position: 1000px 1000px;
	text-decoration: none;

}

/*Recommend*/

.whereabouts .jq-selectbox-wrapper .customSelect .jq-selectbox__select .jq-selectbox__trigger {
	position: absolute;
	width: 11px;
	height: 6px;
	background: url(http://ceresit.ua/assets/fae8c61a/css/../img/map-dropdown.png) no-repeat;
	right: 20px;
}

#page {
	margin: 0 0 -245px;
	height: auto!important;
	background-color: rgba(255, 151, 71, 0.47);
}

#page #wrapper {
	padding: 0 0 130px;
	position: relative;
	margin-bottom: 244px;
}

#page.recommends-page #recommend-list .title {
	text-align: left;
	padding-left: 60px;
	line-height: 90px;
}

#page.recommends-page #recommend-list {
	background: #fff;
	position: relative;
	padding-bottom: 10px;
}

#page #wrapper h1 {
	font: 30px 'Proxima Nova Regular',sans-serif;
	margin: 0 0 30px;
}

#page.recommends-page #recommend-list .recommends-filter {
	border-left: 1px solid #ecedee;
	top: 0;
	right: 0;
	left: 0;
	padding: 0 30px;
	position: absolute;
	border-bottom: 1px solid #ecedee;
}

#page.recommends-page #recommend-list .whereabouts {
    padding-right: 40px;
	height: 90px;
	display: table-cell;
	vertical-align: middle;
}

#page.recommends-page #recommend-list .whereabouts label {
	display: block;
	color: #626061;
	font: 13px 'Proxima Nova Regular',sans-serif;
	margin: 0 0 3px;
}

#page.recommends-page #recommend-list .whereabouts .jq-selectbox-wrapper {
	float: none;
	max-width: 180px;
	position: static!important;
}

#page.recommends-page #recommend-list .whereabouts select {
	width: 100%;
}

#recommend-list .wr-item:nth-of-type(2n) {
	border-bottom: 1px solid #e7ebef;
	border-right: 1px solid #e7ebef;
}

#recommend-list .wr-item {
	float: left;
	width: 600px;
	height: 233px;
	position: relative;
	overflow: hidden;
}

#recommend-list .wr-item .cell-item {
	height: 230px;
	width: 600px;
	padding: 30px 190px 30px 60px;
	z-index: 10;
}

#recommend-list .wr-item .cell-item {
	display: table-cell;
	position: relative;
	vertical-align: middle;
}

#recommend-list .wr-item .cell-item h3 {
	margin: 0 0 17px;
	font: 24px/30px 'Proxima Nova Light',sans-serif;
	color: #333;
}

#recommend-list .wr-item .cell-item .photo {
	position: absolute;
	right: 0;
	top: 0;
	height: 233px;
	width: 195px;
	z-index: 1;
	overflow: hidden;
	text-align: left;
}

#recommend-list .wr-item .cell-item .photo:before {
	content: '';
	background: url(/images/corner.png) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 52px;
	height: 233px;
}

.recommends:before {
	content: '';
	background: url(/images/corner.png) no-repeat;
	position: absolute;
	top: 8px;
	left: 20px;
	width: 52px;
	height: 233px;
}

#recommend-list .wr-item .cell-item .photo img {
	height: 233px;
}

.inner-block {
	width: 1200px;
	margin: 0 auto;
}

#about-us .cell:nth-of-type(1), #about-us .cell:nth-of-type(2), #recommend-list .title, #recommend-list .wr-item:nth-of-type(2n+1) {
	border-bottom: 1px solid #e7ebef;
}

#page.recommends-page #recommend-list .whereabouts .jq-selectbox-wrapper div.customSelect .jq-selectbox__select {
	height: auto;
	background: 0;
	color: #e8514a;
	text-transform: uppercase;
	padding: 0 15px 0 0;
	font: 12px/15px 'Proxima Nova Semi Bold',sans-serif;
}

#page.recommends-page #recommend-list .whereabouts .jq-selectbox-wrapper div.customSelect .jq-selectbox__select .jq-selectbox__trigger {
	top: 3px;
	background: url(http://ceresit.ua/assets/fae8c61a/css/../img/map-dropdown2.png) no-repeat;
	width: 9px;
	height: 6px;
	right: 8px;
}
/*Recommend*/
/*page-nav*/
#page.recommends-page #page-nav {
	margin-top: -1px;
}

#page-nav {
	height: 65px;
	position: relative;
	z-index: 20;
	text-align: center;
	padding: 15px 70px 0;
	background: #fff;
	text-decoration: none;
}

#page-nav .arrow.prev {
	left: 0;
	border-right: 1px solid #ecedee;
}

#page-nav .arrow {
	position: absolute;
	top: 0;
	width: 66px;
	height: 65px;
	display: block;
	transition: all .25s;
}

#page-nav .page.active {
	background: #e8514a;
	color: #fff;
	text-decoration: none;
}

#page-nav .page.lef {
    background: #e8514a;
    color: #fff;
	right: 0px;
	position: absolute;
	padding: 16px 25px;
	text-decoration: none;
}
#page-nav .page.rig {
    background: #e8514a;
    color: #fff;
	left: 0px;
	position: absolute;
	padding: 16px 25px;
	text-decoration: none;
}

#page-nav .page {
	color: #6a6a6a;
	transition: all .25s;
}

#page-nav .page, #page-nav span {
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	padding: 2px 7px;
	font: 16px 'Proxima Nova Semi Bold',sans-serif;
	text-decoration: none;
}

/*page-nav*/
.menu-dropdown-icon > ul > li > a {
	margin-top: 20px;
	padding: 15px;
	padding-left: 5px;
	background-color: #e8514a;

}

.menu-dropdown-icon > ul > li > a:hover {
	margin-top: 20px;
	background-color: #202022;

}
/*search*/
span.twitter-typeahead .tt-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
	cursor: pointer;

}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
	color: #FFFFFF;
	text-decoration: none;
	outline: 0;
	background-color: #1a4a72;
}

.input-group.input-group-lg span.twitter-typeahead .form-control {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
span.twitter-typeahead{
	width: 100%;
}
.input-group span.twitter-typeahead {
	display: block !important;
	height: 34px;

}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
	top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
	border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group span.twitter-typeahead:last-child .form-control {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead{
	height: 30px;
}

.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
	top: 30px !important;
}

.input-group.input-group-lg span.twitter-typeahead{
	height: 46px;
}

.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
	top: 46px !important;
}
/*search*/

/* form validator*/
.form .has-success .form-control {
	border-color: #2b542c;
}

.form .has-error .form-control {
	border-color: #e8514a;
}

.has-error, .has-success{
	position: relative;
}

.form-control-feedback{
	right: 10px;
	top: 25px ;
}

/* form validator*/
/* preloader*/
.preload {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 9999;
	background-color: #cccccc;
	opacity: 0.5;
}

.preload img {
	position: relative;
	left: 50%;
	top: 50vh;
	margin: -100px 0 0 -100px;
}
/* preloader*/

.card-widget {
    border: none;
    position: relative;
}

.card {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.widget-user .widget-user-header {
    padding: 1rem;
    height: 200px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.widget-user .widget-user-image {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -50px;
}

.widget-user .widget-user-image>img {
    width: 120px;
    height: auto;

}

.elevation-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.img-circle {
    border-radius: 0%;
}

.widget-user .card-footer {
    padding-top: 40px;
}

.widget-user .ms{
	padding-top: 0px;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 0 solid rgba(0,0,0,.125);
}

/*--header--*/
.header-w3l {
	padding: 3em 0;
	text-align: center;
}
.header-w3l h1{
	font-size:3em;
	color:#202022;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.pricing{
	padding: 1em 0 2em;
}
.w3l-pricing-grids {
	max-width: 1100px;
	margin: 0 auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

}

.brand-conteiner {
	padding-bottom: 20%;
	position: relative;
}

h3.heading {
	font-size: 45px;
	font-weight: 400;
	letter-spacing: 0;
	margin-bottom: 1em;
	text-transform: capitalize;
}
h3.heading span{
	font-weight: 400;
	color: #00BCD4;
	border-bottom: 2px solid #00BCD4;
}
.agileits-pricing-grid {
	flex: 1;
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	width: 20%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	margin:0 5px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.agileits-pricing-grid:hover {
	transform: scale(1.06);
	-webkit-transform: scale(1.06);
	-moz-transform: scale(1.06);
	-o-transform: scale(1.06);
	-ms-transform: scale(1.06);
	z-index: 1;
}
.pricing-top{
	padding: 2em 0 0;
	background: #fd5c63;
	text-align: center;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
}
.blue-top{
	background: #0091cd !important;
}
.green-top{
	background: #00ad45 !important;
}
.yellow-top{
	background: #fb8a2e !important;
}

.pricing-top h3{
	color: #FFF;
	font-size: 1.5em;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.pricing-top1 h3{
	color: #FFF;
	font-size: 10px;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.wthree-pricing-info{
	padding: 2em 0;
}
.wthree-pricing-info p{
	color:#FFFFFF;
	font-size:1em;
	margin:0;
	text-align:center;
}
.wthree-pricing-info p span{
	font-size: 4em;
	font-weight: 600;
}
.pricing-bottom{
	background: #FFF;
	padding: 0em 0 2em 0em;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
}
.pricing-bottom-top {
	padding: 1em 0;
	background: #fd5c63;
}
.pricing-bottom-top p{
	color: #212121;
	margin: 0;
	font-size: .9em;
	line-height: 1.8em;
	font-weight: 600;
	text-transform: uppercase;
}
.pricing-bottom-bottom{
	padding: 3em 2em;
}
.pricing-bottom-bottom p{
	color: #333;
	font-size: 15px;
	margin: 0 0 1em 0;
}
.buy-button {
	margin-bottom: 10px;
	text-align: center;
}
.pricing-bottom-bottom p span{
	font-weight: 700;
	color: #333;
	letter-spacing: 1px;
}
.pricing-bottom-bottom p span.fa {
	width: 25px;
	color: #656565;
	font-weight: 100;
}
.first p span.fa {
	color: #c73a40;
}
.second p span.fa {
	color: #0091cd;
}
.third p span.fa {
	color: #00ad45;
}
.fourth p span.fa {
	color: #fb8a2e;
}
p.text {
	margin-bottom: 0;
}
.buy-button a{
	background: #fb8a2e;
	padding: .5em 1.5em;
	border: solid 1px #fb8a2e;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
.buy-button a:hover{
	background: none;
	border: solid 1px #fb8a2e;
	color:#fb8a2e;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
.first .buy-button a{
	background: #c73a40;
	border: solid 1px #c73a40;
}
.first .buy-button a:hover{
	background: none;
	border: solid 1px #c73a40;
	color: #c73a40;
}
.second .buy-button a{
	background: #0091cd;
	border: solid 1px #0091cd;
}
.second .buy-button a:hover{
	background: none;
	border: solid 1px #0091cd;
	color: #0091cd;
}
.third .buy-button a{
	background: #00ad45;
	border: solid 1px #00ad45;
}
.third .buy-button a:hover{
	background: none;
	border: solid 1px #00ad45;
	color: #00ad45;
}
.blue-pricing-bottom-top{
}
.blue-pricing-bottom-top:nth-child(2){
	border-top: solid 1px #1085bf;
}
.green-pricing-bottom-top{
}
.green-pricing-bottom-top:nth-child(2){
	border-top: solid 1px #609835;
}
/*-- //pricing --*/
#small-dialog,#small-dialog1,#small-dialog2,#small-dialog3,#small-dialog4,#small-dialog5{
	background: white;
	padding: 0;
	max-width: 500px;
	margin: 39px auto;
	position: relative;
	text-align: center;
	border-radius: 5px;
}
/* start state */
.my-mfp-zoom-in #small-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

.cabin {
	margin: 15px;
	background-color: #0c0c0c;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	color: white;"
}
/**
/* Magnific Popup CSS */
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background:#151515;
	opacity: 0.8;
	filter: alpha(opacity=80); }
.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden; }
.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }
.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle; }
.mfp-align-top .mfp-container:before {
	display: none; }
.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045; }
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto; }
.mfp-ajax-cur {
	cursor: progress; }
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out; }
.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
	cursor: auto; }
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.mfp-loading.mfp-figure {
	display: none; }
.mfp-hide {
	display: none !important;
}
.mfp-content iframe{
	width:100%;
	min-height:500px;
}
.mfp-preloader {
	color: #cccccc;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: 1044;
}
.mfp-preloader a {
	color: #cccccc;
}
.mfp-preloader a:hover {
	color: white;
}
.mfp-s-ready .mfp-preloader {
	display: none;
}
.mfp-s-error .mfp-content {
	display: none;
}
button.mfp-close,button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	border: 0;
	background: #FF5722;
	-webkit-appearance: none;
	display: block;
	padding: 0;
	z-index: 1046;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.mfp-close {
	width: 35px;
	height: 35px;
	line-height: 17px;
	position: absolute;
	right: 0%;
	top:0%;
	text-decoration: none;
	text-align: center;
	color: white;
	font-style: normal;
	font-size: 28px;
	outline: none;
	padding: 0 !important;
}
.mfp-close:hover, .mfp-close:focus {
	opacity: 1;
}
.mfp-close-btn-in .mfp-close {
	color: #212121;
	padding: 0 0 7px 0px;
}
.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close {
	color: white;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%;
}
/*-- registration --*/
.signin-form {
	background: #ffffff;
	background-size: cover;
	padding: 2em 4em;
	text-align: center;
	margin: 0 auto;
}
.signin-form h3 {
	font-size: 2em;
	color: #FF5722;
	margin: 1em 0;
	text-transform: uppercase;
}
.signin-form h3 span {
	color: #67e1ff;
}
.signin-form img {
	border-radius: 50%;
}
.login-form {
	margin: 1em 0 2em;
}
.signin-form input[type="email"],.signin-form input[type="text"], .signin-form input[type="password"] {
	width: 100%;
	padding: 1em 1em 1em 1em;
	font-size: 0.9em;
	margin: 1em 0;
	outline: none;
	color: #212121;
	border: none;
	border-bottom: 1px solid #666;
	letter-spacing: 1px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
.signin-form input[type="email"] {
	background: none;
	display: block;
}
.signin-form input[type="text"] {
	background: none;
	display: block;
}
.signin-form input[type="password"] {
	background: none;
	display: block;
}
::-webkit-input-placeholder{
	color:#666 !important;
}
.signin-form input[type="submit"] {
	outline: none;
	padding: 0.9em 0;
	width: 100%;
	text-align: center;
	font-size: 1em;
	margin-top: 1em;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	background: #FF5722;
	letter-spacing: 2px;
	font-family: 'Raleway', sans-serif;
}
.signin-form input[type="submit"]:hover {
	color: #fff;
	background: #212121;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
}
.signin-form p a {
	font-size: 0.875em;
	color: #212121;
	letter-spacing: 1px;
}
/*-- // pricing --*/

/*--footer--*/
.footer {
	padding: 2em 0;
	text-align: center;
	background: linear-gradient(135deg, #202022,#e8514a);
	vertical-align: middle;
}
.footer p {
	font-size: 1em;
	letter-spacing: 2px;
	line-height: 28px;
}
.footer p a {
	color: #eee;
}
.footer p a:hover {
	text-decoration:underline;
}
/*--//footer--*/

/*--responsive--*/

.row2 {
	height: 255px;
}
@media(max-width: 1024px){
	.pricing-bottom-bottom {
		padding: 2em 1.5em;
	}
}
@media(max-width: 900px){
	.wthree-pricing-info p span {
		font-size: 3em;
	}
	.pricing-bottom-bottom p span.fa {
		width: 20px;
		font-size: 13px;
	}
	.pricing-bottom-bottom {
		padding: 2em 1em;
	}
	.pricing {
		padding: 0em 0 1em;
	}
}
@media(max-width: 800px){
	.w3l-pricing-grids {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
	}
	.agileits-pricing-grid {
		flex: inherit;
		-webkit-box-flex: inherit;
		-moz-box-flex: inherit;
		width: 35%;
		-webkit-flex: inherit;
		-ms-flex: inherit;
		margin: 10px 10px;
	}
	.pricing-bottom-bottom {
		padding: 2em 2em;
	}
	.header-w3l h1 {
		font-size: 2.7em;
	}
}
@media(max-width: 667px){
	.agileits-pricing-grid {
		width: 40%;
	}
	.header-w3l h1 {
		font-size: 2.5em;
	}
	.footer p {
		font-size: .9em;
		letter-spacing: 1px;
	}
	.header-w3l {
		padding: 2em 0;
	}
}
@media(max-width: 600px){
	.agileits-pricing-grid {
		width: 45%;
	}
}
@media(max-width: 480px){
	.pricing-bottom-bottom {
		padding: 2em 1em;
	}
	.agileits-pricing-grid {
		width: 46%;
		margin: 10px 5px;
	}
	.header-w3l h1 {
		font-size: 2em;
	}
}
@media(max-width: 414px){
	.agileits-pricing-grid {
		width: 65%;
	}
	.header-w3l h1,.signin-form h3 {
		font-size: 1.8em;
		letter-spacing: 1px;
	}
}
@media(max-width: 384px){
	.agileits-pricing-grid {
		width: 70%;
	}
	.header-w3l h1,.signin-form h3 {
		font-size: 1.6em;
		letter-spacing: 0px;
	}
	.signin-form {
		padding: 2em 3em;
	}
}
@media(max-width: 320px){
	.agileits-pricing-grid,.signin-form h3 {
		width: 80%;
	}
	.header-w3l h1 {
		font-size: 1.5em;
	}
	.signin-form {
		padding: 2em;
	}
}
.m{
	padding-top: 20px;
	padding-bottom: 20px;
}
.one4 a.order:hover {
    background-color:#fb8a2e;
    transition: 0.5s all;
}
.one3 a.order:hover {
	background-color:#00ad45;
	transition: 0.5s all;
}
.one2 a.order:hover {
	background-color:#0091cd;
	transition: 0.5s all;
}
.one1 a.order:hover {
	background-color:#fd5c63;
	transition: 0.5s all;
}

.cart-w{
	margin-top: 10px;
	max-height: 150px;
	width: auto;
}

.p-0 {
    padding: 0!important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.products-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pl-2, .px-2 {
    padding-left: .5rem!important;
}
.pr-2, .px-2 {
    padding-right: .5rem!important;
}
.product-list-in-card>.item {
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.products-list>.item {
    border-radius: .25rem;
    padding: 10px 0;
    background: #fff;
}
.products-list .product-img {
    float: left;
}

.products-list .product-img img {
    width: 50px;
    height: 50px;
}
.products-list .product-info {
    margin-left: 60px;
}
.products-list .product-title {
	font-weight: 600;
}

.badge-warning {
	color: #1f2d3d;
	background-color: #ffc107;
}
.float-right {
	float: right!important;
}

.products-list .product-description {
	display: block;
	color: #6c757d;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.infos a:hover {
	color: rgba(232,81,74,.9);
	text-decoration: none;
}

.post_img{
	height: 200px;
	width: 90%;
	border-radius: 30px;
}

.product-mains {
	padding: 1em 0px 2.7em 0px;
	border: 3px solid #202022;
	height: 280px;
}
.product-mains a {
	text-decoration: none;
}
.text-label {
	color: #999;
	padding-top: 20px;
	text-transform: uppercase;
}
.bb{
margin-left: 50px;
}
.serves-market {
	font-size: 20px;
	padding-right: 20px;
	color: #fb4c29;
}
.serves-text {
	text-transform: uppercase;
	color: #fb4c29;
	padding-left: 20px;
	font-size: 40px;
}
.seves-p {
	font-size: 14px;
	font-weight: 600;
	color: #C3C3C3;
}
.img-serv {
	position: absolute;
	right: 0;
	top: 55px;
	height: 233px;
	width: 195px;
	z-index: 1;
	overflow: hidden;
	text-align: left;
}
.company {
	background-color: #0c0c0c;
	padding: 20px;
	border-radius: 20px;
	border: 2px solid crimson;
	opacity: 0.7;
	position: absolute;
	top: 45%;
	left: 50%;
	z-index: 1000;

}
.gradient {
	background: linear-gradient(135deg, #0e0e1f,#e8514a);
	vertical-align: middle;
	padding: 20px;
}
.baner-main {
	text-transform: uppercase;
	color: #fff;
	font-weight: 900;
	z-index: 10000;
	position: absolute;
	left: 5%
}
.top50 {
	top: 40%;
}
.top60 {
	top: 50%;
}
.top70 {
	top: 60%;
}
.top80 {
	top: 80%;
}
.font42 {
	font-size: 42px;
}
.font32 {
	font-size: 32px;
}
.font12 {
	font-size: 12px;
}
.sidebar_inhouse {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	margin-left: 5px;
	margin-bottom: 20px;
	margin-top: 10px;
}
.inhouse_li  li a {
	text-decoration: none;
}
.inhouse_li  li a:hover {
	color: #e8514a;
}
.sidebar_text {
	padding-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 900;
}
.sidebar_text i {
	margin-right: 15px;
}
.sidebar_block li {
	list-style-type: none;
}

sidebar_block a {
	text-decoration: none;
}

sidebar_block li  a:hover {
	color: #e8514a;
}

.sidebar_text:hover{
	color: #e8514a;
	list-style-type: none;
}

.logo_baner {
    width: 300px;
    height: auto;
    position: absolute;
    right: 5px;
    top: 20px;
}

.widget > ul {
	margin-top: 5px;
	list-style: none;
	padding-left: 0px;
}

.popular-posts li {
	list-style: none;
	margin-bottom: 20px;
	min-height: 70px;
}

.popular-posts li a, .popular-posts li a:hover {
	color: #2f2f2f;
	text-decoration: none;
}

.popular-posts p {
	line-height: normal;
	margin-bottom: auto;
	padding-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 900;
}

.popular-posts li img {
	float: left;
	margin-right: 20px;
	border-radius: 30px;
}

.popular-posts li em {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #b3b3b3;
}

.rec:before {
	content: '';
	background: url(/images/corner.png) no-repeat;
	position: absolute;
	width: 60px;
	height: 85px;
	left: -10px;
}

.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #e8514a;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
.bg-logo{
	background: url(/images/big_1.png);
	height: auto;
}

.product-title{
	font-size: 17px;
}
.product-title span{
	font-size: 15px;
	font-weight: 600;
	color: rgba(232,81,74,.9);
}
.product-description {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}
.badge {
	margin: 10px;
	padding: 10px;
	background-color: rgba(232,81,74,.9);
	font-weight: 600;
	font-size: 16px;
	color: white;

}

.more-user {
	text-align: center;
	text-transform: uppercase;
}

.badge span{
	color: white;
}
.border {
	width: 100%;
	height: 100%;
	background: white;
}
.border h3 {
	float: left;
	margin-top: 25px;
}
.next{
	float: left;
	margin-top: 25px;
}
.go {
	position: absolute;
	right: 35px;
	background: linear-gradient(135deg, #0e0e1f,#e8514a);
	padding: 10px;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	display: block;
	font-weight: 600;
	text-align: center;
	margin: 18px 0px;
	font-family: 'Pathway Gothic One';
	text-transform: uppercase;
	border-radius: 0;
	border: 0;
}

.serves-text-two {
	text-transform: uppercase;
	color: #fb4c29;
	padding-left: 20px;
	font-size: 20px;
}

.sitebare_ul a {
    text-decoration: none;
	font-size: 15px;
	line-height: 27px;
}
.sitebare{
	text-decoration: none;
	font-size: 0px;
}

.sitebare_ul a:hover {
	color: #fb4c29;
}
.sitebare a:hover{
	color: #fb4c29;

}

/*--franchiza--*/
.about-franchiz {
	background: url('/images/foto.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-bottom: 30px;

}

.about-franchiz-three {
	background: url('/images/office.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-bottom: 30px;

}

.about-franchiz p {
	position: relative;
	padding-top: 50px;
	text-align: center;
	color: #fff;
	font-weight: 900;
	font-size: 44px;
}

.about-franchiz ul li {
	padding-top: 50px;
	margin-left: 20%;
	color: #f6ffff;
	font-weight: 900;
	font-size: 29px;
	line-height: 22px;

}

.about-franchiz ul {
	background-color: black;
	margin-left: 10%;
	margin-right: 10%;
	opacity: 0.7;

}

.about-franchiz-two {
	padding-bottom: 30px;

}

.img-start  {
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
}

.about-franchiz-two p {
	position: relative;
	padding-top: 50px;
	text-align: center;
	color: #0e0e1f;
	font-weight: 900;
	font-size: 44px;
}

.about-franchiz-two ul li {
	padding-top: 50px;
	margin-left: 20%;
	color: #f6ffff;
	font-weight: 900;
	font-size: 29px;
	line-height: 22px;

}

.about-franchiz-two ul {
	background-color: black;
	margin-left: 10%;
	margin-right: 10%;
	opacity: 0.7;

}
.franchiz-two span {
	color: #f3ffff;
	font-weight: 900;
	background-color: black;
	padding: 14px;
}


.about-franchiz-three p {
	position: relative;
	padding-top: 50px;
	text-align: center;
	color: #f3ffff;
	font-weight: 900;
	font-size: 44px;
}

.about-franchiz-three ul li {
	padding-top: 50px;
	margin-left: 20%;
	color: #f3ffff;
	font-weight: 900;
	font-size: 29px;
	line-height: 22px;

}

.about-franchiz-three ul {
	background-color: black;
	margin-left: 10%;
	margin-right: 10%;
	opacity: 0.7;

}
.franchiz-three span {
	color: #ffe333;
	font-weight: 900;
	background-color: black;
	padding: 14px;
}

.footer-left-i input[type="text"] {
	width: 100%;
	margin-right: 10px;
	color: #fff;
	font-size: 11px;
	background: none;
	padding: 8px 10px;
	outline: none;
	border: none;
	border: 1px solid #fff;
}

.footer-left-i  {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #0c0c0c;
	opacity: 0.7;
	padding: 20px;
}

.franchiz-fore span {
	color: #ffe333;
	font-weight: 900;
	background-color: black;
	padding: 14px;
}

.franchiz span {
	color: #ffe333;
	font-weight: 900;
	background-color: black;
	padding: 14px;
}
.franchiz li{
	position: relative;
}
.franchiz-two li{
	position: relative;
}
.h6-about {
	text-align: center;
	color: #f3ffff;
	background-color: black;
	font-weight: 900;
	font-size: 28px;
	opacity: 0.7;
	margin-left: 10%;
	margin-right: 10%;
	padding: 20px;
}

.about-franchiz-fore {
	background: url('/images/registr.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-bottom: 30px;

}

.about-franchiz-fore p {
	position: relative;
	padding-top: 50px;
	text-align: center;
	color: #fff;
	font-weight: 900;
	font-size: 44px;
}

.about-franchiz-fore ul li {
	padding-top: 50px;
	margin-left: 20%;
	color: #f6ffff;
	font-weight: 900;
	font-size: 29px;
	line-height: 22px;

}

.about-franchiz-fore ul {
	background-color: black;
	margin-left: 10%;
	margin-right: 10%;
	opacity: 0.7;

}

.cont-b {
	background: #100b0b;
	padding: 10px;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	display: block;
	font-weight: 600;
	text-align: center;
	margin: 0px 0px;
	font-family: 'Pathway Gothic One';
	text-transform: uppercase;
	width: 100%;
	border-radius: 0;
	border: 0;
}


/*--franchiza--*/
@media screen and (max-width: 1200px) {
	.go {
		font-size: 12px;

	}
	.inner-block {
		width: 900px;
	}
	#recommend-list .wr-item {
		width: 900px;

	}
	#recommend-list .wr-item .cell-item {
		width: 900px;
		padding: 30px 190px 30px 60px;
		z-index: 10;
	}

	.hclas{
		line-height: 40px;
		font-size: 22px;
	}
	#page.recommends-page #recommend-list .whereabouts label {
		font-size: 10px;
	}

	.about-franchiz p {
		font-size: 40px;
	}
	.franchiz span {
		font-size: 34px;
	}
	.about-franchiz ul li {
		font-size: 25px;
	}
	.img-start  {
		width: 100%;
		margin-right: 0%;
		margin-left: 0%;
	}

}
@media screen and (max-width: 995px) {
	.pading {
		margin-bottom: 100px;
	}

}

@media screen and (max-width: 960px) {
	.logo_baner {
		width: 190px;
		height: auto;
		position: absolute;
		right: 5px;
		top: 5px;
	}

	.next{
		font-size: 15px;
	}
	.border h3 {
		font-size: 15px;
	}

	.baner-main {
		font-size: 20px;
	}
	.serves-text {
		text-transform: uppercase;
		color: #fb4c29;
		padding-left: 20px;
		font-size: 23px;
	}

	.go {
		right: 10px;
	}
	.go {
		font-size: 12px;

	}
	#page.recommends-page #recommend-list .recommends-filter {
		top: 0;
		padding-left: 66px;

	}

	#recommend-list .wr-item:nth-of-type(1n) {
		margin-top: 90px;
	}

	.inner-block {
		width: 800px;
	}
	#recommend-list .wr-item {
		width: 800px;

	}
	#recommend-list .wr-item .cell-item {
		width: 800px;
		padding: 30px 190px 30px 60px;
		z-index: 10;
	}

	#index-page h2 {
		padding: 125px 0 80px;

	}
	.footer-left input[type="text"] {
		width: 30%;

	}

	.brand-conteiner {
		padding-bottom: 30%;
	}



}

@media screen and (max-width: 716px) {
	.product-img{
		display: none;
	}
	.product-title{
		font-size: 12px;
	}
	.product-title span{
		font-size: 10px;
	}
	.product-description{
		font-size: 10px;
	}
	.logo_baner {
		width: 130px;
		height: auto;
		position: absolute;
		right: 5px;
		top: 5px;
	}
	.baner-main {
		font-size: 15px;
	}
	.serves-text {
		text-transform: uppercase;
		color: #fb4c29;
		padding-left: 20px;
		font-size: 20px;
	}
	.next {
		display: none;
	}
	.div#profile p, div#home p, div#messages  {
		font-size: 10px;
	}
	.inner-block {
		width: 500px;
	}
	#recommend-list .wr-item {
		width: 500px;

	}
	#recommend-list .wr-item .cell-item {
		width: 500px;
		padding: 30px 190px 30px 60px;
		z-index: 10;
	}
	.pading {
		margin-bottom: 200px;
	}
	.footer-left input[type="text"] {
		width: 70%;

	}

	.brand-conteiner {
		padding-bottom: 40%;
	}

	.about-franchiz p {
		font-size: 34px;
	}
	.franchiz span {
		font-size: 24px;
	}
	.about-franchiz ul li {
		font-size: 20px;
		margin-left: 10%;
	}

	.about-franchiz-two p {
		font-size: 34px;
	}
	.franchiz-two span {
		font-size: 24px;
	}
	.about-franchiz-two ul li {
		font-size: 20px;
		margin-left: 10%;
	}

	.footer-left-i  {
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}
}

@media screen and (max-width: 500px) {
	.product-img{
		display: none;
	}
	.products-list .product-info {
		margin-left: 5px;
	}
	.logo_baner {
		width: 90px;
		height: auto;
		position: absolute;
		right: 5px;
		top: 5px;
	}
	.baner-main {
		font-size: 12px;
	}
	.border h3 {
		font-size: 10px;
	}
	.go {
		font-size: 10px;

	}
	.serves-text {
		text-transform: uppercase;
		color: #fb4c29;
		padding-left: 10px;
		font-size: 12px;
	}
	.inner-block {
		width: 400px;
	}
	#recommend-list .wr-item {
		width: 400px;

	}
	#recommend-list .wr-item .cell-item {
		width: 400px;
		padding: 30px 190px 30px 60px;
		z-index: 10;
	}

	#phone-line span {
		display: block;
		font-size: 12px;
	}



	.footer-left input[type="text"] {
		width: 50%;

	}
	.brand-conteiner {
		padding-bottom: 50%;
	}

}