
.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group, .list-group.list-group-root > p .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > p > .list-group-item {
    padding-left: 40px;
}

.list-group.list-group-root > .list-group > .list-group > p > .list-group-item {
    padding-left: 55px;
}

.item-p {
    margin: 0;
    position: relative;
}

.item-p > span {
    position: absolute;
    right: 13px;
    top: 13px;
}
.list-group-item:hover, .list-group-item:focus {
    z-index: 0;
    text-decoration: none;
    color: #fff;
}

.list-group-item.fa:hover, .list-group-item > i:focus {
    z-index: 0;
    text-decoration: none;
}

.red {
    background-color: #dc3545;
    color: #1F1818;
}

.nored {
    background-color:#4b545c;
    color: #dc3545;
}
.overlay {
    display: none;
}

[data-role="dynamic-fields"] > .form-inline + .form-inline {
    margin-top: 0.5em;
}

[data-role="dynamic-fields"] > .form-inline [data-role="add"] {
    display: none;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
    display: inline-block;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
    display: none;
}
.sidebar-dark-primary{
  background-color: #202022;
}